# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.hamster-game-services.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\client projects\hamster-game-services\.idea\.idea.hamster-game-services\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
